@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

$h-text: 'Dela Gothic One', cursive;
$b-text: 'Josefin Sans', sans-serif;
$d-color: #131200;
$a-color-1-400: #3EC300;
$a-color-1-800: #1E3F20;
$a-color-2-400: #55DDE0;
$a-color-2-800: #009DB2;
$l-color: rgb(226,231,244);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $d-color;
}
.heading{
    font-family: $h-text;
    color: $a-color-2-400;
    font-size: 6ch;
}
.body-text{
    font-family: $b-text;
    color: $l-color;
    font-size: 3ch;
    text-decoration: none;
}

.cover-img{
    margin: 0em 6.25em 3.125em 6.25em;
}

//About Page

.about-body{
    margin: 0em 6.25em 3.125em 6.25em;
}
.about-body h1{
    margin: 1em 0em;
}
.about-body p{
    line-height: 2.5ch;
}

a{
    color: $a-color-2-400;
}

//HTU page

.about-body ul{
    list-style-type: none;
}
.about-body li{
    margin: 1em;

    &::before{
        content: "\0023";
        color: $a-color-2-400;
        display: inline-block;
        font-size: 3ch;
        margin-right: .5em;
        margin-left: -1em;
    }
}

// media queries

@media (max-width: 1440px) {
    .heading{
        font-size: 5ch;
    }
}
@media (max-width: 1024px) {
    .heading{
        font-size: 4ch;
    }
    .body-text{
        font-size: 2ch;
    }
    .cover-img{
        margin: 0em 3.125em 3.125em 3.125em;
    }
    
}
@media (max-width: 425px) {
    .heading{
        font-size: 3ch;
        font-weight: 400;
    }
    .cover-img{
        margin: 0em 1.5em 1.5em 1.5em;
    }
}